[submodule "helppoint-discovery-server"]
	path = helppoint-discovery-server
	url = https://github.com/fiap-69aoj-helppoint/helppoint-discovery-server.git
[submodule "helppoint-gateway"]
	path = helppoint-gateway
	url = https://github.com/fiap-69aoj-helppoint/helppoint-gateway.git
[submodule "helppoint-web"]
	path = helppoint-web
	url = https://github.com/fiap-69aoj-helppoint/helppoint-web.git
[submodule "helppoint-product"]
	path = helppoint-product
	url = https://github.com/fiap-69aoj-helppoint/helppoint-product.git
[submodule "helppoint-configuration-server"]
	path = helppoint-configuration-server
	url = https://github.com/fiap-69aoj-helppoint/helppoint-configuration-server.git
[submodule "helppoint-salesman"]
	path = helppoint-salesman
	url = https://github.com/fiap-69aoj-helppoint/helppoint-salesman.git
[submodule "helppoint-client"]
	path = helppoint-client
	url = https://github.com/fiap-69aoj-helppoint/helppoint-client.git
